body{
    font-family: Lato;
}
header{
    background-color: #203c86;
}
.redes-sociais h5{
    color: #ffff;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}
.redes-sociais img{
    float: right;
    width: 2%;
    padding-right: 10px;
}
.regua-header{
    display: block;
    padding: 0;
    margin: 50px 0px;
    width: 100%;
    height: 1px;
    background-color: #ddd;
}
.regua-sobre{
    display: block;
    margin: 10px 0px;
    width: 4.7%;
    height: 1px;
    background-color: #ffc82c;
}
.regua-descobri{
    display: block; 
    margin: 2px 0px;
    padding: 0;
    width: 19%;
    height: 2px;
    background-color: #ffc82c
}
.nav{
    position:relative;
    top: 0px;
    display: inline;
    color: #ddd;
}
.text2 .title{
    margin: 0px;
}
.text1{
    margin-left: 250px;
    margin-right: 250px;
}
.text1 i{
    text-align: right;
}
.text1 img{
    display: inline;
    float: left;
    width: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 1000px;
}
.text2{
    margin-left: 100px;
    margin-right: 1000px;
}
.text2 .img-cima{
    background-image: url(imgs/interface2/em-cima.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 630px;
    left: 510px;
    height: 100px;
}
.text2 .descricao{
    border: 1px;
    border-radius: 50px;
    border-color: gray;
}
.header .container .nav .a{
    text-decoration: none;
    color:#ddd
}
footer{
    background: linear-gradient(130deg, #0d3f83 2 3.84%, #001736 73.02%);
    background: linear-gradient(130deg, #0D3F82 2 3.84%, #001736 73.02%);
}
.gallery{

}
.gallery h2{
    color: #2648A1;
}
.gallery-item h3{
    color: #0D3F82;
}
.gallery-item{
    display: inline;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}
.left{
    float: left;
    width: 35%;
    padding-top: 100px;
    padding-left: 50px;
}
.left .title{
    color: #2648A1;
}
.right{
    padding-top: 190px;
    padding-left: 50px;
    float: right;
    width: 50%;
    padding-right: 10px;
    border-radius: 20px;

}
.logo-cor{
    display: inline;
    float: left;
    width: 0%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 100px;
}