html, body{
    font-family: Lato;
    width: 100%;
    margin: 0;
}
header{
    background-color: #203c86;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}
header section {
    width: 80%;
    text-align: right;
}
header .top {
    height: auto;
}
header .top .content {
    display: inline-block;
}
.top .content {
    margin-right: 80px;
    color: #fff;
}
.top img{
    width: 2%;
    margin-right: 10px;
    margin-top: 10px;
}

header .down {
    height: auto;
    display: inline-block;
}
header .down .logo{
    float: left;
}
header .down .sumario {
    display: inline-block;
    text-decoration: none;
    color: white;
}
.pipa {
    display: block;
    text-align: left;
}
.pipa .title h2 {
    font-weight: bold;
}
.pipa .title p {
    text-align: right;
    color: #203c86;
    font-size: 20px;
    font-style: italic;
}
.pipa .title span {
    text-align: right;
    font-size: 15px;
}
.descobrimos {
    display: inline-block;
    width: 100%;
}
.descobrimos .left {
    display: block;
}
.descobrimos .left .title span {
    color: #203c86;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
.descobrimos .left .title h2 {
    color: #203c86;
    text-align: left;
    font-weight: bold;
}
.descobrimos .right {
    display: block;
    float: right;
}
.gallery {
    display: inline-block;
}
.gallery .title span {
    color: #203c86;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
.gallery .title h2 {
    color: #203c86;
    text-align: left;
    font-weight: bold;
}
.gallery picture {
    display: block;
    float: left;
    margin-bottom: 20px;
}
/* footer {
    background-color: #203c86;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}
footer section {
    width: 80%;
    text-align: left;
}
.rodape {
    height: auto;
    display: block;
}
footer .rodape .logo {
    float: left;
}
footer .rodape .contato{
    display: inline-block;
    font-size: 15px;
}
.rodape img {
    width: 1.5%;
}
.contato .topicos {
    color: #fff;
}
.rodape button {
    color: aqua;
} */


.rodape img {
    width: 10%;
}


.rodape{
    background-color: #203c86;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: black;
    padding: 10px;
    margin: 0px;
    text-align: center;
}
/*mobile*/
@media (max-width: 768px) {
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
        width: calc(50% - 20px);
        padding: 10px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
}

/* .redes-sociais h5{
    color: #ffff;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}
.regua-header{
    display: block;
    padding: 0;
    margin: 50px 0px;
    width: 100%;
    height: 1px;
    background-color: #ddd;
}
.sumario{
    display: block;
    color: #ffff;
    padding-right: 10px;
    text-align: right;
}
.regua-sobre{
    display: block; 
    margin: 2px 0px;
    padding: 0;
    width: 6%;
    height: 1px;
    background-color: #ffc82c;
}
.regua-descobri{
    display: block; 
    margin: 2px 0px;
    padding: 0;
    width: 19%;
    height: 2px;
    background-color: #ffc82c
} */
/* .text1{
    margin-left: 450px;
    margin-right: 450px;
}
.text1 i{
    text-align: right;
}
.text1 img{
    display: inline;
    float: left;
    width: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 1000px;
}
.text2{
    margin-left: 100px;
    margin-right: 1000px;
}
.text2 .img-cima{
    background-image: url(imgs/interface2/em-cima.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 630px;
    left: 510px;
    height: 100px;
}
.text2 .descricao{
    border: 1px;
    border-radius: 50px;
    border-color: gray;
}
.container{
    

}
footer{
    background: linear-gradient(130deg, #0d3f83 2 3.84%, #001736 73.02%);
    background: linear-gradient(130deg, #0D3F82 2 3.84%, #001736 73.02%);
}
.gallery img{
    display: flex;

}
.gallery h2{
    color: #2648A1;
    padding-top: 550px;
    padding-left: 50px;
}
.gallery-item h3{
    color: #0D3F82;
}
.gallery-item{
    display: inline;
    float: left;
    width: 20%;
    padding-top: 400px;
    padding-left: 30px;
}
.left{
    float: left;
    width: 35%;
    padding-top: 100px;
    padding-left: 50px;
    position: absolute;
}
.left .title{
    color: #2648A1;
}
.descombrimos{
    display: inline;
}
*/