body{
    font-family: "Sora", sans-serif;
    background-color: #0F315C;
}

h1{
    color: #4CC8FF;
    text-align: center;
    width: 550px;
    margin: auto;
    position: relative;
    display: table;
    font-size: 28px;
}

p.subtitulo{
    color: #ffffff;
    text-align: center;
    width: 550px;
    margin: auto;
    position: relative;
    display: table;
    font-size: 14px;
}
p.comentario{
    color: #ffffff;
    text-align: left;
    width: 270px;
    margin: 50px;
    position: relative;
    display: table;
    font-size: 15px;
}

section .plug{
    height: 40px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    background-color: #0F315C;
    background-image: url(imgs/vector.png), url(imgs/vector-2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center left, center right ;
}

section .hr{
    margin-top: 23px;
    border: 2px solid white;
}
main .name-figma{
    border: 2px solid black;
    position: absolute;
    text-align: center;
    padding: 0.25em 1em;
}
main .name-figma img{
    position: absolute;
}
main .name-figma.designer{
    background: #FDB32F;
    width: 90px;
}
main .name-figma.designer img{
    right: -30px;
    bottom: -30px;
    position: absolute;
}
main .name-figma.dev{
    background: #29973b;
    color: #ffffff;
    right: -50px;
    width: 120px;
    margin: 30px;
    position: relative;
}
main .name-figma.dev img{
    left: 0px;
    top: -50px;
}
span{
    color: #FDB32F;
}
a{
    border: 2px solid cornsilk;
    padding: 10px 20px;
    text-decoration: none;
    color: cornsilk;
    border-radius: 80px;
    top: 50%; 
    align-items: center;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main{
text-align: center;
padding-top: 100px;
padding-bottom: 100px;
}
main.conteudo{
max-width: 700;
position: relative;
}
main.conteudo h1{
    font-size: 50px;
    text-transform: uppercase;
}
header{
    padding-top: 24px;
}

footer{
    border-top: #FDB32F 3px solid;
}
footer address{
    float: table;
    width: 100%;
}
footer address > div{
    color: #ffffff;
    display: inline-block;
    width: 30%;
}
footer address div strong{
    margin-top: 1em;
    display: block;
}
footer section{
    padding: 1em;
    text-align: center;
    border-top: 1px;
}