.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.top {
    display: inline-block;
    margin-bottom: 80px;
}
.suap {
    margin-bottom: 10px;
}