body{
    background: linear-gradient(to top,#46db44, #3D60FE, #FE3D3D, #e8ef23, #46db44);
    font-family: Poppins;
    font-style: normal;
    color: rgb(7, 7, 7);
    height: 80%;
}
a{
    font-family: Poppins, bold;
    color: black;
    text-decoration: none;
}
.card figure img{
    width: 100%;
  }
.content .card .figure{
    width: 50%;
    height: 50%;
}