body{
    background: linear-gradient(to top, #3D60FE, #FE3D3D, #FEF83D, #67EA65);
    font-family: Poppins;
    font-style: normal;
}
a{
    color: white;
    text-decoration: none;
}
.content .card .figure{
    width: 50%;
    height: 50%;
}